*.png
*.jpg
*.mp3
*.pptx
*.mp4
*.txt
*.rar
*.gif

.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
test/unit/coverage
test/e2e/reports
selenium-debug.log
js/jquery-3.2.1.min.js
.vscode/settings.json